* {
    text-decoration: none;
}

.btn {
    position: relative;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 180px;
    height: 75px;
    text-align: center;
}

body {

    position: relative;
    background-color: pink;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

.title {
    text-color: red;
}

.ins {
    background-color: blue;
    position: relative;
    top: -226px;
    left: 180px;
    width: 50vh;
    height: 50vw;
}

.ins.active .input1 {
    overflow-wrap: break-word;
    z-index: 3;
    position: relative;
    top: 2px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    height: 73px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid black;
}



.input1 {
    z-index: 0;
    position: relative;
    top: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: .5rem;
    width: 178px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn1 {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 178px;
    height: 76px;
    text-align: center;

}

.ins.active .btn1 {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 400px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 178px;
    height: 76px;
    text-align: center;

}

.br {
    background-color: green;
    position: relative;
    top: -465px;
    left: 180px;
    width: 50vh;
    height: 0px;
}

.br.active .input2 {
    overflow-wrap: break-word;
    z-index: 3;
    position: relative;
    top: 2px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    height: 73px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid black;
}



.input2 {

    z-index: 0;
    position: relative;
    top: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: .5rem;
    width: 178px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn2 {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 178px;
    height: 76px;
    text-align: center;

}

.br.active .btn2 {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 400px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 178px;
    height: 76px;
    text-align: center;

}

.ha {
    background-color: blue;

    position: relative;
    top: -706px;
    left: 180px;
}

.ha.active .input3 {

    overflow-wrap: break-word;
    z-index: 3;
    position: relative;
    top: 2px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    height: 73px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid black;
}



.input3 {
    z-index: 0;
    position: relative;
    top: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: .5rem;
    width: 178px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn3 {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 178px;
    height: 76px;
    text-align: center;

}

.ha.active .btn3 {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 400px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 178px;
    height: 76px;
    text-align: center;

}