@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Noto+Sans+JP:wght@100..900&family=Press+Start+2P&display=swap');

* {
    box-sixing: border-box;
}

body {
    background-color: #516dff;
    color: #ffffff;
    font-family: "Press Start 2P", system-ui;

}